<div
style="width: 16%; padding: 4rem; margin-left: 300px"
class="cardComponent"
>
<div class="card">
  <header class="card__header">
    <img src="images/checked.png" alt="" /><em class="txt--card">AI Chatbox</em>
  </header>
  <div class="card__body">
    <h5>
      Answers basic health questions, symproms, and first-aid tips.For
      Health assistamt for general users
    </h5>
  </div>
</div>
</div>
<div style="width: 16%; padding: 4rem" class="cardComponent">
<div class="card">
  <header class="card__header">
    <img src="images/todo.png" alt="" /><em class="txt--card">Medical Document Analyzer</em>
  </header>
  <div class="card__body">
    <h5>
      Explains medical reports, drug dosages, side effects, and
      interactions using NLP-based responses.
    </h5>
  </div>
</div>
</div>
<div style="width: 16%; padding: 4rem" class="cardComponent">
<div class="card">
  <header class="card__header">
    <img src="images/spiral.png" alt="" /><em class="txt--card">Symptoms & Medication Checker</em>
  </header>
  <div class="card__body">
    <h5>
      Users can input symptoms, and AI provides preliminary guidance
      based on medical database.
    </h5>
  </div>
</div>
</div>