<div class="footer">
    <div class="footer--container-1">
      <div class="foot--med">MedAssist</div>
      <p>+233 541-90-955</p>
      <h5 class="footer--support">support@medassist</h5>
    </div>
    <div class="footer--container-2">
      Company
      <p>About us</p>
      <p>Blogs</p>
      <p>Contact us</p>
      <p>Our Team</p>
    </div>
    <div class="footer--container-3">
      Product
      <p>Health AI-Chatbot</p>
      <p>Medical Report Analyzer</p>
      <p>Symptoms & Medication Checker</p>
    </div>
    <div class="footer--container-4">
      <p class="sub">Subscribe</p>
      <form action="/search" method="GET">
        <input
          type="search"
          placeholder="Get product updates..."
          name="query"
          class="search-input"
        />
        <button type="submit" class="search-button">→</button>
      </form>
    </div>
  </div>
  <div class="Down">
    <div class="icons--1">
      <i class="fa-brands fa-linkedin-in fa-xl" style="color: #ffffff"></i>
    </div>
    <div class="icons">
      <i class="fa-brands fa-twitter fa-xl" style="color: #ffffff"></i>
    </div>
    <div class="icons">
      <i class="fa-brands fa-facebook fa-xl" style="color: #ffffff"></i>
    </div>
    <div class="icons--2">
      <i class="fa-regular fa-copyright" style="color: #ffffff"></i> 2025
      MedAssist. All rights reserved
    </div>
  </div>
</footer>
<script
  src="https://kit.fontawesome.com/c13f420c99.js"
  crossorigin="anonymous"
></script>