<div>
    <div class="grid-container">
      <div class="gridItem--first">
        <img src="images/girlcall.png" alt="" class="girlcall" />
      </div>
      <div class="grid-item">
        <div><img src="images/love.png" alt="" class="love" /></div>
        <div>
          <img src="images/girllaugh.png" alt="" class="girllaugh" />
        </div>
      </div>
      <div class="grid-item">
        <img src="images/Doc.png" alt="" class="Doc" />
      </div>
      <div class="grid-item">
        <div><img src="images/cutebot.png" alt="" class="cutebot" /></div>
        <div>
          <img src="images/girlplant.png" alt="" class="girlplant" />
        </div>
      </div>
      <div class="gridItem--last">
        <img src="images/robot.png" alt="" class="robot" />
      </div>
    </div>
  </div>