<div>
  <div class="intro">
    <h1>
      <em class="txt--primary">From symptoms →</em> medical reports, we guide
      you
    </h1>
  </div>
  <div class="intro2">
    <h1 class="toBetterHealth">
      to Better <em class="txt--secondary">Health</em>
    </h1>
  </div>
  <div class="intro3">
    <h6>
      Your Ai-powered health companion! MedAssist helps you understand symptoms,
    </h6>
  </div>
  <div class="intro4">
    <h6>
      analyze medical reports, and provide doctors with key insights for better
      healthcare decisions
    </h6>
  </div>
</div>
