<header>
  <div class="nav">
    <div class="med">MedAssist</div>
    <div class="middleNav">
      <span class="navText"><a href="" class="navLink"><button class="btn--primary">Home</button></a></span>
      <span class="navText"><a href="" class="navLink">About</a></span>
      <span class="navText"><a href="" class="navLink">Services</a></span>
      <span class="navText"><a href="" class="navLink">success story</a></span>
      <span class="navText"><a href="" class="navLink">Contact us</a></span>
    </div>
    <span class="navText"><a href="" class="navLink"><button class="btn">Free Consultation</button></a></span>
  </div>
</header>