<div>
    <div class="grid-container-2">
      <div class="grid-item">
        <img src="images/Rob.png" alt="" class="rob" />
      </div>
      <div class="grid-item">
        <div class="intro"><h2 class="txt--secondary">Healthcare, Simplified!</h2></div>
        <div class="intro"><h2 class="txt--primary">Get instant AI-Powered Assistance</h2></div>
        <div class="intro">
          <h6>
            MedAssist - Get instant AI-Powered healthcare assistance. With
            advanced AI and expert insights, we provide accurate health
            assessments, personalized recommendations, and seamless access
            to medical resources worldwide. Let our AI-driven system handle
            the complexities so you can focus on your well-being with
            confidence.
          </h6>
        </div>
        <div class="grid-container-3"></div>
        <div>
          <div class="txt--grid">
            <h1 class="txt--secondary">95%</h1>
          </div>
          <div><h4>Accuracy in Health Insights</h6></div>
        </div>
        <div> 
          <div class="txt--grid">
            <h1 class="txt--secondary">100+</h1>
          </div>
          <div><h4>Conditions Analyzed</h6></div>
        </div>
        <div class="txt--grid">
          <div><h1 class="txt--secondary">24/7</h1></div>
          <div><h4>AI-Powered Assistance</h6></div>
        </div>
      </div>
    </div>
  </div>